

<section class="jumbotron text-center" >
    <div class="container">
        <h1 class="jumbotron-heading">Welcome to Gradelink</h1>

        <p>
            <button class="btn btn-outline-primary">
                <%= link_to "Sign Up", signup_path %></button>
            <button class="btn btn-outline-primary">
                <%= link_to "Sign In", login_path %></button>

        </p>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-4" >
            <div class="container">
            <!-- "card mb-4 shadow-sm"> -->
                <%= image_tag 'report-card.jpg' %>

            </div>
        </div>
      </div>
   </div>
