<%= form_tag courses_path, method: :post, id: 'send-students-id', class: 'form-horizontal' do  %>
    <table class='table table-bordered'>
      <thead>
        <tr>
          <th style="width:30px;"> Save to Course Roster? </th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <tr>
              <td><%=check_box_tag 'selected_students[]', student.id%></td>
              <td><%= student.last_name %></td>
          </tr>
        <% end %>
        <%= content_tag :button, :type => :submit, class: 'btn btn-success' do %>
          Submit
        <%end%>
      </tbody>
    </table>
<%end%>
