<h1>Select a course </h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th style="width:30px;"> Courses </th>

      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |c| %>
      <tr>

          <td><%= c %></td>
      </tr>
    <% end %>
  
